# The port Vite runs on locally
PORT=5173

# Local backend proxy base URL (Proxied through Vite)
VITE_API_BASE_URL=/api/v1

# In Production this might look like:
# VITE_API_BASE_URL=https://api.myapp.com/api/v1
